@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Kenia&family=Roboto:ital,wght@1,300&display=swap");
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    background: url("../images/2.jpg") top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    width: 250px;
    background-color: rgb(10, 10, 26);
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: anim 2s ease-in-out;
}

.active nav {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.active i {
    font-size: 30px;
    color: antiquewhite;
}

.active ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -40px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.active ul li {
    list-style-type: none;
    padding: 15px 0;
}

.active ul li:hover {
    background-color: rgb(59, 84, 131);
    /* height: 30px; */
    width: 100%;
    border-radius: 5%;
}

.active ul li:hover a {
    color: rgb(255, 255, 255);
}

.active ul li a {
    text-decoration: none;
    color: cornsilk;
    font-family: "Ubuntu";
}


/* animate navbar active */


/* navbar not active */

.in-active * {
    width: -160px;
    display: none;
}

.in-active i {
    font-size: 35px;
    color: rgb(254, 254, 254);
    margin-left: 20px;
    margin-top: 20px;
}